@font-face {
  src: url(fonts/WorkSans-Black.ttf);
  font-family: 'WorkSans-Black';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Bold.ttf);
  font-family: 'WorkSans-Bold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-ExtraBold.ttf);
  font-family: 'WorkSans-ExtraBold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-ExtraLight.ttf);
  font-family: 'WorkSans-ExtraLight';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Light.ttf);
  font-family: 'WorkSans-Light';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Medium.ttf);
  font-family: 'WorkSans-Medium';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Regular.ttf);
  font-family: 'WorkSans-Regular';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-SemiBold.ttf);
  font-family: 'WorkSans-SemiBold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Thin.ttf);
  font-family: 'WorkSans-Thin';
  font-weight: normal;
}

@font-face {
  src: url(fonts/Geomanist-Black.ttf);
  font-family: 'Geomanist-Black';
  font-weight: normal;
}

body {
  font-family: 'WorkSans-Regular';
  font-size:1.2em;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
  width:100%;
}

.logo {
  font-family:'Geomanist-Black';
  font-size:2em;
  text-align:center;
}

.text-highlight {
  border-bottom: solid 10px #FF8878;
  height: 40px;
  display: inline-block;
}

h1.form-label {
  margin:0 0 80px 0 !important;
}

#button-top {
  text-align: left;
  color: #FF8878;
  background:none;
  font-size: 0.8em;
  text-transform: uppercase;
}

input[type=text]:not(.browser-default).input-text {
  border-bottom: 1px solid #7273ff;
}

::placeholder {
  color: #7273FF;
  opacity: 1;
}

:-ms-input-placeholder {
  color:#7273FF;
}

::-ms-input-placeholder {
  color: #7273FF;
}

.select {
  border: solid 1px #7273FF;
  margin-bottom: 20px;
}

.option {
  background-color:#7273FF;
  color: #FFF !important;
  border-radius:40px;
  padding: 20px;
  margin-bottom: 20px;
}

  .option label {
    color: #ffffff;
    font-family: 'WorkSans-Medium';
    font-size:1em;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
  }

  .option-selected {
    background-color:#FF8878;
  }

.button-cta {
  display: block;
  margin: 40px auto;
  width: 80%;
  background-color:#7273FF;
  color: #FFF !important;
  border-radius:40px;
  border:none;
  padding: 20px;
  font-family: 'WorkSans-Medium';
  text-decoration:none;
}

.button-cta:hover,
.button-cta:active {
  text-decoration:none !important;
}


.button-next {
  background-color: #ffffff !important;
  border: solid 1px #7273FF !important;
  color: #7273FF !important;
}

.tooltip-inner {
  background-color: #22b573;
  border-radius: 20px;
  padding: 10px;
}

  .arrow::before,
  .arrow::before {
    border-top-color: #22b573 !important;
  }

#footer {
  width: 100%;
  bottom: 0;
  left:0;
  position: fixed;
}

  .button-footer {
    width: 100%;
    height: 100px;
    display: block;
    border:none;
    background-color: #7273FF;
    color: #ffffff;
    text-transform:uppercase;
    font-size:1em;
    padding: 0 15%;
  }

/* THE ARROW */

ul.the-arrow-container {
  text-align:left;
  margin:20px 0 0 0;
  color: #FFF;
}

ul.the-arrow-container li {
  margin: 0 0 24px;
}

.the-arrow {
  width: 124px;
  transition: all 0.2s;
}
.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}
.the-arrow.-left > .shaft {
  width: 0;
  background-color: #FFF;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: #FFF;
}
.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.the-arrow.-right {
  top: 3px;
}
.the-arrow.-right > .shaft {
  width:124px;
  transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.the-arrow > .shaft {
  background-color: #FFF;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: #FFF;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}
.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: #FFF;
  font-size: 1.25em;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}
.animated-arrow:hover {
  color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.animated-arrow:hover > .main {
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}
.animated-arrow > .main > .the-arrow {
  position: relative;
}


#app {
  text-align: center;
}

#app h1 {
  font-family: 'WorkSans-ExtraBold';
  font-size: 1.9em;
  font-weight: bold;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 2.2rem;
  text-align: left;
  line-height: 1.5em;
}

/* Splash Screen */

#splash {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

#logo-container {
  height: 100vh;
  text-align:center;
}

  #logo-container .logo {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3em;
  }

#powered-by {
  position: fixed;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

  #powered-by h2 {
    font-family: 'WorkSans-Medium';
    font-size: 0.8em;
    text-align:center;
    text-transform: uppercase;
    display: block;
  }

/* Inicio Screen */
#inicio {

}

  #inicio-icon {
    margin-top: 80px;
  }

  #inicio h1 {
    text-align: center;
    font-family: 'Geomanist-Black';
    font-size: 2.2em;
    padding: 0 20px;
    margin-top: 20px;
    line-height: 1.2em;
  }

  #inicio p {
    margin-top: 40px;
  }

  #inicio .btn-large {
    margin-top: 40px;
  }

/* Escola Pre */
#escola-pre {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

  #escola-pre h1 {
    padding-top: 80px;
    padding-right:70px;
  }

/* Escola */
#escola {

}

  #escola #header {
    margin-top:20px;
  }

  #escola #breadcrumb {
    margin-top: 20px;
    font-size:1.1em;
    font-family:'WorkSans-Medium';
    color: #7273FF;
    text-align: left;
  }

  #escola #button-top {
    height: 20px
  }

  #escola #footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }

/* PARCEIRO */

#parceiro {

}

  #parceiro #header {
    margin-top:20px;
  }

  #parceiro #breadcrumb {
    margin-top: 20px;
    font-size:1.1em;
    font-family:'WorkSans-Medium';
    color: #7273FF;
    text-align: left;
  }

  #parceiro #button-top {
    height: 20px
  }

  #parceiro #footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }

/* Turma Pre */
#turma-pre {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

  #turma-pre h1 {
    padding-top: 80px;
    padding-right:70px;
  }

  /* Turma */
  #turma {

  }
  
    #turma #header {
      margin-top:20px;
    }
  
    #turma #breadcrumb {
      margin-top: 20px;
      font-size:1.1em;
      font-family:'WorkSans-Medium';
      color: #7273FF;
      text-align: left;
    }
  
    #turma #button-top {
      height: 20px
    }

    #turma #passo-3 .option {
      border-radius: 45px;
      margin-bottom:10px;
    }

    #turma #preco-desconto {
      margin-top: 40px;
    }
    #turma #preco-desconto h2 {
      font-size: 1.1em;
      color: #b3b3b3;
      margin:0;
    }

    #turma #preco-desconto p {
      font-size: 3em;
      font-family: 'WorkSans-Light';
    }

    div[role=tooltip] {
      top: -15px !important;
    }

/* PREVIEW */

#preview-oferta {
  background:#f2f2f2;
  margin:0;
  width:100%;
  height: 100vh;
}

#preview-oferta #header {
    margin-top:0px;
    padding-top:20px;
  }

  #preview-oferta #breadcrumb {
    margin-top: 20px;
    font-size:1.1em;
    font-family:'WorkSans-Medium';
    color: #7273FF;
    text-align: left;
  }

  #preview-oferta #button-top {
    height: 20px
  }

  .card-preview {
    background:#FFF;
    border:solid 1px #999;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(173,173,173,1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(173,173,173,1);
    box-shadow: 2px 2px 6px 0px rgba(173,173,173,1);
    padding: 25px;
  }

    .card-logo {
      width: 120px;
      display: block;
      margin: 0 auto
    }

    .collection {
      width: 100%;
      border:none !important;
      margin: 0 !important;
      text-align: left;
    }

      .collection.with-header .collection-header {
        border: none !important;
        margin:0 !important;
        padding:0 !important;
      }

      .collection .collection-item {
        border: none !important;
        padding-left: 0 !important;
      }

        .collection .material-icons {
          float:left;
          margin-right:10px;
          color: #7273FF;
        }

  .card-preview .desconto {
    text-align: left;
  }

    .desconto span,
    .mensalidade span {
      color: #22b573;
      font-size:1.2em;
      font-family: 'WorkSans-Medium';
    }
  
  .card-preview .mensalidade {
    text-align: right;
  }

  .card-preview .card-infos-title {
    font-family: 'WorkSans-SemiBold';
    text-transform: uppercase;
    font-size:0.7em;
    margin-bottom: 5px !important;
  }

    .button-fake {
      background-color:#fbb03b;
      width: 80%;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      font-size:16px;
      font-family:"WorkSans-Medium";
      border-radius: 6px;
    }
  
  .card-disclaimer {
    margin-top: 20px;
    font-family: 'WorkSans-Medium';
  }

    .button-grid {
      width: 100%;
      margin: 0 auto;
    }

    .button-grid-back {
      background-color: #FF8878;
    }

  #preview-oferta #footer {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }

/* PÓS TURMA */
#turma-pos {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

#turma-pos h1 {
  padding-top: 80px;
  padding-right:70px;
}

  #turma-pos p {
    font-family: 'WorkSans-Medium';
    display: block;
    margin:20px 0 80px;
  }

  .button-cta-underline {
    background:none;
    border: solid 1px #ffffff !important;
  }

  .button-cta-white {
    background: #FFF;
    color: #7273FF !important;
  }

/* Last Take */

#turma-finaliza {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

  #turma-finaliza h1 {
    padding-top: 80px;
    padding-right:70px;
  }

  #turma-finaliza p {
    font-family: 'WorkSans-Medium';
    display: block;
    margin:20px 0 80px;
    text-align: left;
  }
