@font-face {
  src: url(fonts/WorkSans-Black.ttf);
  font-family: 'WorkSans-Black';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Bold.ttf);
  font-family: 'WorkSans-Bold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-ExtraBold.ttf);
  font-family: 'WorkSans-ExtraBold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-ExtraLight.ttf);
  font-family: 'WorkSans-ExtraLight';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Light.ttf);
  font-family: 'WorkSans-Light';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Medium.ttf);
  font-family: 'WorkSans-Medium';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Regular.ttf);
  font-family: 'WorkSans-Regular';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-SemiBold.ttf);
  font-family: 'WorkSans-SemiBold';
  font-weight: normal;
}

@font-face {
  src: url(fonts/WorkSans-Thin.ttf);
  font-family: 'WorkSans-Thin';
  font-weight: normal;
}

@font-face {
  src: url(fonts/Geomanist-Black.ttf);
  font-family: 'Geomanist-Black';
  font-weight: normal;
}

body {
  font-family: 'WorkSans-Regular';
  font-size:1.2em;
}

.logo {
  font-family:'Geomanist-Black';
}

h1 {
  font-family: 'WorkSans-ExtraBold';
  font-size: 1.8em;
  font-weight: bold;
}

.button-cta {
  display: block;
  margin: 40px auto;
  width: 80%;
  background-color:#7273FF;
  color: #FFF !important;
  border-radius:40px;
  border:none;
  padding: 25px;
  font-family: 'WorkSans-Medium';
}

#app {
  text-align: center;
}

/* Splash Screen */

#splash {
  color: #ffffff;
  background-color:#7273ff;
  height: 100vh;
  width: 100%;
}

#logo-container {
  height: 100vh;
  text-align:center;
}

  #logo-container .logo {
    width: 100%;
    display: block;
  }

#powered-by {
  position: fixed;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

  #powered-by h2 {
    font-family: 'WorkSans-Medium';
    font-size: 0.8em;
    text-align:center;
    text-transform: uppercase;
    display: block;
  }

/* Inicio Screen */
.#inicio {

}

  #inicio-icon {
    margin-top: 80px;
  }

  #inicio h1 {
    font-size: 3em;
  }

  #inicio p {
    margin-top: 40px;
  }

  #inicio .btn-large {
    margin-top: 40px;
  }